<ul id="dropdown1" class="dropdown-content">
    <li><a href="/alterar_senha" class="blue-compass"><i class="material-icons">vpn_key</i>Alterar senha</a></li>
    <li><a href="/editar_foto" class="blue-compass"><i class="material-icons">face</i>Editar foto</a></li>
    <li class="divider"></li>
    <li><a href="/logout" class="blue-compass"><i class="material-icons">power_settings_new</i>Fazer Logout</a></li>
</ul>
<!-- Navbar -->
<div>
    <nav class="white">
        <div class="nav-wrapper nav-padding z-depth-2">
            <div class="left">
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-small-only"><i class="material-icons black-text">menu</i></a>
                <a href="/" class="left blue-compass brand-logo position-relative hide-on-med-and-down"><i class="logo-img"></i>Game of Bols</a>
                <ul class="left hide-on-med-and-down position-relative left-divider show show-on-med-and-up">
                    <li><a href="/" class="blue-compass">Home</a></li>
                    <li><a href="/dailynote" class="blue-compass">Daily Notes</a></li>
                    <li><a href="/helpcenter" class="blue-compass">Help Center</a></li>
                    <li><a data-target="ul-semcontrato" class="blue-compass dropdown-trigger">Sem Contrato</a></li>
                    <%if(user.tipo!=''){%>
                    <li><a data-target="ul-powerbi" class="blue-compass dropdown-trigger">Power BI</a></li>
                    <%}%>
                </ul>
            </div>
            <ul class="right hide-on-med-and-down">
                <!-- Em caso de visitante, mostra link login e botão cadastro-->
                <li><a href="/login" class="blue-compass <%if(user.tipo=='user' || user.tipo=='admin'){%><%='hide'%><%}%>">Entrar</a></li>
                <li><a href="/cadastro" class="waves-effect waves-light btn bg-blue-compass rounded <%if(user.tipo=='user' || user.tipo=='admin'){%><%='hide'%><%}%>">Cadastrar-se</a></li>
                <!-- Em caso de usuário logado (user ou admin), mostra o olá e o menu dropdown -->
                <li class="blue-compass <%if(user.tipo==''){%><%='hide'%><%}%>">Olá, <%=user.nome%>!</li>
                <li>
                    <a href="#" class="dropdown-trigger blue-compass padding-bottom <%if(user.tipo==''){%><%='hide'%><%}%>" data-target="dropdown1">
                        <% if(user.imagem){ %>
                        <img class="circle resize-photo" src="../../public/uploads/<%= user.imagem %>">
                        <% } else { %>
                        <img class="circle avatar-user resize-photo" src="../../public/img/user.png" alt="">
                        <% } %>
                    </a>
                </li>
            </ul>
            <ul id="ul-semcontrato" class="dropdown-content">
                <li><a href="/dailynote100contrato" class="blue-compass">Daily Notes</a></li>
                <li><a href="/helpcenter100contrato" class="blue-compass">Help Center</a></li>
            </ul>

            <%if(user.tipo!=''){%>
            <ul id="ul-powerbi" class="dropdown-content">
                <li><a href="https://app.powerbi.com/reportEmbed?reportId=832c7c93-1b5e-4b7e-bafd-300c38406749&autoAuth=true&ctid=97fa1f96-7877-469f-aa37-1f8568e3a3ff&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQifQ%3D%3D"  target="_blank" class="blue-compass">Análise da Aplicação</a></li>
                <li><a href="https://app.powerbi.com/reportEmbed?reportId=f4283fc7-5339-491b-a608-7f9eeea7ba69&autoAuth=true&ctid=97fa1f96-7877-469f-aa37-1f8568e3a3ff&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQifQ%3D%3D"  target="_blank" class="blue-compass">Análise do Desenvolvimento</a></li>
            </ul>
            <%}%>

        </div>
    </nav>
    <!-- sidenav -->
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background gradient-sidenav"></div>
                <div class="input-field col s12">
                    <% if(user.imagem){ %>
                    <img class="circle resize-photo" src="../../public/uploads/<%=user.imagem %>">
                    <% } else { %>
                    <img class="circle avatar-user resize-photo" src="../../public/img/user.png" alt="">
                    <% } %>
                </div>
                <!-- caso usuário logado, mostra olá e o username no sidenav  -->
                <p><span class="white-text name <%if(user.tipo==''){%><%='hide'%><%}%>">Olá, <%=user.nome%>!</span></p>
                <!-- caso usuário não esteja logado, mostra só olá -->
                <p><span class="white-text name <%if(user.tipo=='user' || user.tipo=='admin'){%><%='hide'%><%}%>">Olá!</span></p>
            </div>
        </li>
        <li><a href="/">GAME OF BOLS</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="/"><i class="material-icons">home</i>Home</a></li>
        <li><a class="waves-effect" href="/dailynote"><i class="material-icons">event_note</i>Daily Notes</a></li>
        <li><a class="waves-effect" href="/helpcenter"><i class="material-icons">help_outline</i>Help Center</a></li>
        <li class="divider"></li>
        <li><a class="waves-effect subheader" href="/helpcenter">Sem Contrato</a></li>
        <li><a class="waves-effect" href="/dailynote100contrato"><i class="material-icons">event_note</i>Daily Notes</a></li>
        <li><a class="waves-effect" href="/helpcenter100contrato"><i class="material-icons">help_outline</i>Help Center</a></li>
        <li class="divider"></li>
        <!-- caso usuário esteja logado, mostra a opção alterar senha e editar foto -->
        <li><a class="waves-effect <%if(user.tipo==''){%><%='hide'%><%}%>" href="/alterar_senha"><i class="material-icons">vpn_key</i>Alterar senha</a></li>
        <li><a class="waves-effect <%if(user.tipo==''){%><%='hide'%><%}%>" href="/editar_foto"><i class="material-icons">face</i>Editar foto</a></li>                                 
        <!-- caso usuário não esteja logado, mostra a opção cadastre-se  -->
        <li><a href="/login" class="waves-effect <%if(user.tipo=='user' || user.tipo=='admin'){%><%='hide'%><%}%>"><i class="material-icons">create</i>Login</a></li>
        <!-- caso usuário esteja logado, mostra a opção logout  -->
        <li><a class="waves-effect <%if(user.tipo==''){%><%='hide'%><%}%>" href="/logout"><i class="material-icons">power_settings_new</i>Logout</a></li>
    </ul>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
</script>