<ul id="dropdown1" class="dropdown-content">
    <li><a href="/editar_perfil" class="blue-compass">Editar perfil</a></li>
    <li><a href="/alterar_senha" class="blue-compass">Alterar senha</a></li>
    <li class="divider"></li>
    <li><a href="/logout" class="blue-compass">Fazer Logout</a></li>
</ul>
<!-- Navbar -->
<div>
    <nav class="white">
        <div class="nav-wrapper nav-padding z-depth-2">
            <div class="left">
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-small-only"><i class="material-icons black-text">menu</i></a>
                <a href="/" class="left blue-compass brand-logo position-relative hide-on-med-and-down"><i class="logo-img"></i>Game of Bols</a>
                <ul class="left hide-on-med-and-down position-relative left-divider show show-on-med-and-up">
                    <li><a href="/" class="blue-compass">Home</a></li>
                    <li><a href="/dailynote" class="blue-compass">Daily Notes</a></li>
                    <li><a href="/helpcenter" class="blue-compass">Help Center</a></li>
                </ul>
            </div>
            <ul class="right hide-on-med-and-down">
                <!-- Em caso de visitante, mostra link login e botão cadastro-->
                <li><a href="/login" class="blue-compass <%if(user.tipo=='user' || user.tipo=='admin'){%><%='hide'%><%}%>">Entrar</a></li>
                <li><a href="/cadastro" class="waves-effect waves-light btn bg-blue-compass rounded <%if(user.tipo=='user' || user.tipo=='admin'){%><%='hide'%><%}%>">Cadastrar-se</a></li>
                <!-- Em caso de usuário logado (user ou admin), mostra o olá e o menu dropdown -->
                <li class="blue-compass <%if(user.tipo==''){%><%='hide'%><%}%>">Olá,
                    <%= user.username %>
                </li>
                <li>
                    <a href="#" class="dropdown-trigger blue-compass padding-bottom <%if(user.tipo==''){%><%='hide'%><%}%>" data-target="dropdown1">
                        <% if(user.imagem){ %>
                        <img class="circle resize-photo" src="../../public/uploads/<%= user.imagem %>">
                        <% } else { %>
                        <img  class="circle resize-photo" src="../public/img/user.png" alt="">
                        <% } %>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="">
                <div class="background">
                    <img class="responsive-img" src="../public/img/sidebar-background.jpg">
                </div>
                <a href="#user"></a>
                <!-- caso usuário logado, mostra olá e o username no sidenav  -->
                <a href="#name"><span class="white-text name <%if(user.tipo==''){%><%='hide'%><%}%>">Olá, <%= user.username %>!</span></a>
                <!-- caso usuário não esteja logado, mostra só olá -->
                <a href="#name"><span class="white-text name <%if(user.tipo=='user' || user.tipo=='admin'){%><%='hide'%><%}%>">Olá <%= user.username %>!</span></a>

            </div>
        </li>
        <li><a href="#!"><i class="logo-nav"></i>GAME OF BOLS</a></li>
        <!-- <li><a href="#!">Second Link</a></li> -->
        <li>
            <div class="divider"></div>
        </li>
        <!-- <li><a class="subheader">Subheader</a></li> -->
        <li><a class="waves-effect" href="/"><i class="material-icons">home</i>Home</a></li>
        <li><a class="waves-effect" href="/dailynote"><i class="material-icons">event_note</i>Daily notes</a></li>
        <li><a class="waves-effect" href="/helpcenter"><i class="material-icons">help_outline</i>Help center</a></li>
        <!-- caso usuário esteja logado, mostra a opção alterar senha  -->
        <li><a class="waves-effect <%if(user.tipo==''){%><%='hide'%><%}%>" href="/alterar_senha"><i class="material-icons">vpn_key</i>Alterar senha</a></li>
        <!-- caso usuário não esteja logado, mostra a opção cadastre-se  -->
        <li><a href="/login" class="waves-effect <%if(user.tipo=='user' || user.tipo=='admin'){%><%='hide'%><%}%>"><i class="material-icons">create</i>Login</a></li>
        <!-- caso usuário esteja logado, mostra a opção logout  -->
        <li><a class="waves-effect <%if(user.tipo==''){%><%='hide'%><%}%>" href="/logout"><i class="material-icons">power_settings_new</i>Logout</a></li>
    </ul>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
</script>