<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Game of Bols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/material-icons.css">
    <link rel="stylesheet" type="text/css" href="../public/css/alterar_senha.css">
    <link rel="stylesheet" href="../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2">
</head>

<body class="bg-blue-compass">
    <header>
        <!-- Estrutura do menu dropdown da navbar -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="/alterar_senha" class="blue-compass">Alterar senha</a></li>
            <li class="divider"></li>
            <li><a href="/logout" class="blue-compass">Fazer Logout</a></li>
        </ul>
        <!-- Navbar -->
        <div>
            <nav class="white">
                <div class="nav-wrapper nav-padding-left">
                    <div class="left">
                        <a href="/" class="left blue-compass brand-logo position-relative"><i class="logo-img"></i>Game of Bols</a>
                        <ul class="left hide-on-med-and-down position-relative left-divider">
                            <li class="hide"><a href="/" class="blue-compass">Home</a></li>
                            <li><a href="/" class="blue-compass">Daily Notes</a></li>
                            <li><a href="/helpcenter" class="blue-compass">Help Center</a></li>
                        </ul>
                    </div>
                    <ul class="right hide-on-med-and-down">
                        <!-- Em caso de visitante, mostra link login e botão cadastro-->
                        <li><a href="/login" class="blue-compass <%if(user.tipo=='user' || user.tipo=='admin'){%><%='hide'%><%}%>">Entrar</a></li>
                        <li><a href="/cadastro" class="waves-effect waves-light btn bg-blue-compass rounded <%if(user.tipo=='user' || user.tipo=='admin'){%><%='hide'%><%}%>">Cadastrar-se</a></li>
                        <!-- Em caso de usuário logado (user ou admin), mostra o olá e o menu dropdown -->
                        <li class="blue-compass <%if(user.tipo==''){%><%='hide'%><%}%>">Olá, <%= user.username %>!</li>
                        <li><a href="#" class="dropdown-trigger blue-compass <%if(user.tipo==''){%><%='hide'%><%}%>" data-target="dropdown1"><i class="material-icons">face</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- Card alterar senha -->
    <div class="row center alterar-senha-margin-top">
        <div class="col s12 m4 offset-m4">
            <div class="card-panel white z-depth-5">
                <div class="row">
                    <h5 class="blue-compass center mont-serrat margin-bottom">Altere sua senha</h5>
                    <p class="grey-text text-darken-2 font-key">Insira uma combinação de pelo menos 6 caracteres</p>
                    <div class="input-field col s12">
                        <input id="card_senhaatual" type="password" class="validate" name="senha" required>
                        <label for="card_senhaatual">Senha Atual</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="card_novasenha" type="password" class="validate" name="novasenha" required>
                        <label for="card_novasenha">Nova senha</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="card_confsenha" type="password" class="validate" name="confirmacaosenha" required>
                        <label for="card_confsenha">Confirme a nova senha</label>
                    </div>
                </div>
                <div class="row center">
                    <button class="modal-close btn waves-effect bg-blue-compass rounded" onclick="alteraSenha(event)" >Confirmar</button>
                </div>
                <div class="row">
                    <ul id="erros">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Ordem de carregamento de script -->
<script type="text/javascript" src="../public/js/libs/jquery.min.js"></script>
<script type="text/javascript" src="../public/js/libs/materialize.js"></script>
<script type="text/javascript" src="../public/js/menu/menu.js"></script>
<script type="text/javascript" src="../public/js/alterasenha/alteraSenha.js"></script>
<!-- Ordem de carregamento de script -->

</html>