<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Game of Bols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Ordem de carregamento de css -->
    <link rel="stylesheet" type="text/css" href="../public/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/cadastro.css">
    <link rel="stylesheet" type="text/css" href="../public/css/croppie.css">
    <link rel="stylesheet" href="../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2">
    <!-- Ordem de carregamento de css -->
</head>

<body>
    <div class="row">
        <!-- Coluna azul -->
        <div id="nav_btn" class="col m4 s12 full-height valign-wrapper gradient-compass">
            <div class="nav-btn-padding center">
                <div class="container">
                    <h4 class="white-text mont-serrat">Já é nosso membro?</h4>
                    <div class="row">
                        <span class="white-text mont-serrat">Se você já possui uma conta, faça seu login a seguir. Sentimos sua falta!</span>
                    </div>
                    <div class="row">
                        <button id="btn_log" class="btn bg-blue-compass rounded waves-effect" onclick="login()">Acessar sua conta</button>
                    </div>
                    <div class="row">
                        <button id="btn_visit" class="btn bg-blue-compass rounded waves-effect" onclick="visit()">Sou visitante</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim da coluna azul -->
        <!-- Formulário -->
        <div id="nav_form" class="col m8 s12 btn-margin-top">
            <form action="/cadastro" method="post" enctype="multipart/form-data">
                <div class="container center">
                    <h3 class="blue-compass center mont-serrat">Criar uma conta</h3>
                    <!-- Imagem -->
                    <div class="row center">
                        <div id="page" class="hide">
                            <div id="main-cropper"></div>
                            <button type="button" class="btn actionCrop">Cortar</button>
                        </div>
                        <div id="resultado">
                            <img id="cad_image" src="../public/img/user.png" class="circle z-depth-1 form-photo" name="photo" value="<%= user.photo%>" />
                            <input type="file" name="upload" id="upload" value="Choose Image" accept="image/*" class="hide">
                        </div>
                    </div>
                    <!-- Fim imagem -->
                    <div class="input-field col s12 m6">
                        <input id="nome" placeholder=" " name="nome" type="text" class="active <%if(user.nome == ''){%><%=user.invalidClass%> <%}%>" value='<%= user.nome%>'>
                        <label for="nome">Nome</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="sobrenome" placeholder=" " name="sobrenome" type="text" class="active <%if(user.sobrenome == ''){%><%=user.invalidClass%> <%}%>" value=<%=user.sobrenome%>>
                        <label for="sobrenome">Sobrenome</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="username" placeholder=" " name="username" type="text" class="active <%if(user.username == ''){%><%=user.invalidClass%> <%}%>" pattern="[a-zA-Z0-9]{4,20}$" value=<%=user.username%>>
                        <label for="username">Nome de usuário</label>
                        <span class="helper-text" data-error="nome de usuário deve ter de 4-20 caracteres alfanuméricos" data-success="nome de usuário válido"></span>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="data_nascimento" placeholder=" " name="data_nasc" type="date" class="active <%if(user.data_nasc == ''){%><%=user.invalidClass%>" <%}%> >
                        <label for="data_nascimento">Data de Nascimento</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="email" placeholder=" " name="email" type="email" class="active <%if(user.email == ''){%><%=user.invalidClass%> <%}%>" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" value=<%=user.email%>>
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="email inválido" data-success="email válido"></span>
                    </div>
                    <div class="col s12">
                        <span class="font-key grey-text text-darken-2">Insira uma combinação de pelo menos 6 caracteres</span>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="senha" type="password" class="active <%=user.invalidClass%>" placeholder=" " name="senha">
                        <label for="senha">Senha</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="repsenha" type="password" class="active <%=user.invalidClass%>" placeholder=" " name="repsenha">
                        <label for="repsenha">Repetir senha</label>
                    </div>
                </div>
                
                <div class="col s12 center">
                    <% if(captcha){ %>
                        <%- captcha %>
                            <% } %>
                </div>
                <div class="col s12 center btn-margin-top">
                    <input class="btn bg-blue-compass rounded" type="submit" value="Cadastrar" />
                <div class="notificacoes">
                    <% user.erros.forEach(function(er){ %>
                        <li>
                            <%= er%>
                        </li>
                        <% }) %>
                </div>
            </div>
            </form>
        </div>
        <!-- Fim do formulário -->
    </div>
    <!-- Ordem de carregamento de script -->
    <script type="text/javascript" src="../public/js/libs/ejs.js"></script>
    <script type="text/javascript" src="../public/js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/libs/materialize.js"></script>
    <script type="text/javascript" src="../public/js/libs/md5.min.js"></script>
    <script type="text/javascript" src="../public/js/libs/croppie.min.js"></script>
    <script type="text/javascript" src="../public/js/cadastro/password.js"></script>
    <script type="text/javascript" src="../public/js/login/inicio.js"></script>
    <script type="text/javascript" src="../public/js/foto/photo.js"></script>
    <!-- Ordem de carregamento de script -->
</body>

</html>