<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Game of bols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../public/css/materialize.css"></link>
    <link rel="stylesheet" type="text/css" href="../../public/css/home.css"></link>
    <link rel="stylesheet" href="../../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2"></link>
    <link rel="stylesheet" href="../../public/css/croppie.css" />

    <script type="text/javascript" src="../../public/js/jquery.min.js" ></script>
    <script type="text/javascript" src="../../public/js/materialize.js"></script>
    <script type="text/javascript" src="../../public/js/md5.min.js"></script>
    <script type="text/javascript" src="../../public/js/inicio.js"></script>
    <script type="text/javascript" src="../../public/js/croppie.min.js"></script>

</head>

<body>
    <div class="row">
        <!-- Coluna azul -->
        <div id="nav_btn" class="col m4 s12 gradient-compass valign-wrapper center">
            <div class="row nav-btn-padding">
                <div class="row">
                    <h4 class="white-text mont-serrat">Já é nosso membro?</h4>
                </div>
                <div class="row">
                    <span class="white-text mont-serrat">Se você já possui uma conta, faça seu login a seguir. Sentimos sua falta!</span>
                </div>
                <div class="row">
                    <button id="btn_log" class="btn bg-blue-compass rounded waves-effect" onclick="login()">Acessar sua conta</button>
                </div>
                <div class="row">
                    <button id="btn_visit" class="btn bg-blue-compass rounded waves-effect" onclick="visit()">Sou visitante</button>
                </div>
            </div>
        </div>
        <!-- Fim da coluna azul -->
        <!-- Formulário -->
        <div id="nav_form" class="col m8 s12 grey lighten-5 z-depth-5 full-height valign-wrapper">
            <div class="row center margin-login">
                <h2 class="blue-compass center mont-serrat">Criar uma conta</h2>
                <form action="/cadastro" method="post">
                    <div class="col s12">
                        <div class="row">
                            <!-- <img id="cad_image" src="http://via.placeholder.com/150x150" class="circle" /> -->
                            <!-- <input id="cad_photo" type="file" class="hide" /> -->
                                <input type="file" id="upload" value="Choose Image" accept="image/*">
                            <div id="page">
                                <div id="main-cropper"></div>
                                <button type="button" class="btn btn-primary actionCrop">Cortar</button>
                                <div id="resultado">
                                <img src ="">
                            </div>  
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="nome" name="nome" type="text" class="validate  <%if(user.nome == ''){%><%=user.invalidClass%> <%}%>" value='<%= user.nome%>'>
                            <label class="active" for="nome">Nome</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="sobrenome" name="sobrenome" type="text" class="validate <%if(user.sobrenome == ''){%><%=user.invalidClass%> <%}%>" value=<%=user.sobrenome%>>
                            <label class="active" for="sobrenome">Sobrenome</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="username" name="username" type="text" class="validate <%if(user.username == ''){%><%=user.invalidClass%> <%}%>" pattern="[a-zA-Z0-9]{4,20}$" value=<%=user.username%>>
                            <label class="active" for="username">Nome de usuário</label>
                            <span class="helper-text" data-error="nome de usuário deve ter de 4-20 caracteres alfanuméricos" data-success="nome de usuário válido"></span>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="data_nascimento" name="data_nasc" type="date" class="validate <%if(user.data_nasc == ''){%><%=user.invalidClass%>" <%}%> >
                            <label class="active" for="data_nascimento">Data de nascimento</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="email" name="email" type="email" class="validate <%if(user.email == ''){%><%=user.invalidClass%> <%}%>" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" value=<%=user.email%>>
                            <label class="active" for="email">Email</label>
                            <span class="helper-text" data-error="email inválido" data-success="email válido"></span>
                        </div>
                        <div class="col s12">
                            <span class="font-key grey-text text-darken-2">Insira uma combinação de pelo menos 6 caracteres</span>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="senha" type="password" class="validate <%=user.invalidClass%>" name="senha">
                            <label class="active" for="senha">Senha</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="repsenha" type="password" class="validate <%=user.invalidClass%>" name="repsenha">
                            <label class="active" for="repsenha">Repetir senha</label>
                        </div>
                    </div>
                    <div class="row center">
                        <input class="btn bg-blue-compass rounded" type="submit" value="Cadastrar" />
                    </div>
                    <% user.erros.forEach(function(er){ %>
                        <li>
                            <%= er%>
                        </li>
                        <% }) %>
                </form>
            </div>
        </div>
        <!-- Fim do formulário -->
    </div>
    <script type="text/javascript" src="../../public/js/cadastro.js"></script>
    <script src="../../public/js/ejs.js"></script>
    <script type="text/javascript" src="../../public/js/photo.js"></script>
</body>


</html>