<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Game of Bols</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Ordem de carregamento de link -->
    <link rel="stylesheet" type="text/css" href="../public/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../public/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/daily.css">
    <link rel="stylesheet" type="text/css" href="../public/css/material-icons.css">
    <link rel="stylesheet" href="../public/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2">
    <!-- Ordem de carregamento de link -->
</head>

<body class="bg-blue-compass">
    <header>
        <!-- Estrutura do menu dropdown da navbar -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="/alterar_senha" class="blue-compass">Alterar senha</a></li>
            <li class="divider"></li>
            <li><a href="/logout" class="blue-compass">Fazer Logout</a></li>
        </ul>
        <!-- Navbar -->
        <div>
            <nav class="white">
                <div class="nav-wrapper nav-padding-left">
                    <div class="left">
                        <a href="/" class="left blue-compass brand-logo position-relative"><i class="logo-img"></i>Game of Bols</a>
                        <ul class="left hide-on-med-and-down position-relative left-divider">
                            <li class="hide"><a href="/" class="blue-compass">Home</a></li>
                            <li class="active"><a href="/" class="blue-compass">Daily Notes</a></li>
                            <li><a href="/helpcenter" class="blue-compass">Help Center</a></li>
                        </ul>
                    </div>
                    <ul class="right hide-on-med-and-down">
                        <!-- Em caso de visitante, mostra link login e botão cadastro-->
                        <li><a href="/login" class="blue-compass <%if(user.tipo=='user' || user.tipo=='admin'){%><%='hide'%><%}%>">Entrar</a></li>
                        <li><a href="/cadastro" class="waves-effect waves-light btn bg-blue-compass rounded <%if(user.tipo=='user' || user.tipo=='admin'){%><%='hide'%><%}%>">Cadastrar-se</a></li>
                        <!-- Em caso de usuário logado (user ou admin), mostra o olá e o menu dropdown -->
                        <li class="blue-compass <%if(user.tipo==''){%><%='hide'%><%}%>">Olá,
                            <%= user.username %>!</li>
                        <li><a href="#" class="dropdown-trigger blue-compass <%if(user.tipo==''){%><%='hide'%><%}%>" data-target="dropdown1"><i class="material-icons">face</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- Botão nova daily aparece apenas se usuário está logado e é do tipo user -->
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="row center <%if(user.tipo=='' || user.tipo=='admin'){%><%='hide'%><%}%>">
                <a class="waves-effect waves-light btn-large bg-yellow-compass rounded" onclick="create()"><i class="left material-icons">add</i>Nova daily</a>
            </div>
        </div>
    </div>

    <!-- Pesquisar nas dailies -->

    <!-- Tabela de dailies -->
    <div class="container">
        <div class="section">
            <div class="card-filter">
                <div class="row">
                    <div class="col m2 s12">
                        <label>Filtrar por:</label>
                        <div class="switch-field margin-top">
                            <input onclick="showData()" type="radio" id="radio-one" name="switch-one" value="true" checked/>
                            <label for="radio-one" class="tooltipped" data-position="left"  data-tooltip="Data"><i class="material-icons icons-font">date_range</i></label>
                            <input onclick="showUser()" type="radio" id="radio-two" name="switch-one" value="false" />
                            <label for="radio-two" class="tooltipped" data-position="right"  data-tooltip="Nome de usuário"><i class="material-icons icons-font">account_circle</i></label>
                        </div>
                    </div>
                    <div id="div_username" class="input-field col m8 s12 hide">
                        <input placeholder=" " id="filter_username" type="text" class="active">
                        <label for="filter_username">Nome de usuário</label>
                    </div>
                    <div id="div_data" class="input-field col m8 s12">
                        <input placeholder=" " type="text" class="datepicker">
                        <label for="filter_data">Data</label>
                    </div>
                    <div class="input-field col m2 s12">
                        <button class="btn bg-blue-compass">filtrar</button>
                    </div>
                </div>
            </div>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
            <div id="show_dailies" class="row hide">
                <ul id="collapsible_daily" class="collapsible expandable">
                </ul>
            </div>
        </div>
    </div>

    <!--footer class="page-footer bg-blue-compass">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="pagination center">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active grey"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!" class="white-text">2</a></li>
                        <li class="waves-effect"><a href="#!" class="white-text">3</a></li>
                        <li class="waves-effect"><a href="#!" class="white-text"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer-->
    <!-- Ordem de carregamento de script -->
    <script type="text/javascript" src="../public/js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/libs/materialize.js"></script>
    <script type="text/javascript" src="../public/js/libs/md5.min.js"></script>
    <script type="text/javascript" src="../public/js/libs/sweetalert2@8.js"></script>
    <script type="text/javascript" src="../public/js/daily/dailies.js"></script>
    <script type="text/javascript" src="../public/js/menu/menu.js"></script>
    <script type="text/javascript" src="../public/js/daily/crudDaily.js"></script>
    <script type="text/javascript" src="../public/js/menu/menu.js"></script>
    <!-- Ordem de carregamento de script -->
</body>

</html>